body {

    font-family:
        "Yu Gothic",
        "Meiryo",
        sans-serif;

    margin: 30px;

    background: #fafafa;
}

.title {

    font-size: 42px;

    font-weight: bold;

    margin-bottom: 30px;
}

.menu {

    display: flex;

    gap: 30px;

    margin-top: 20px;

    margin-bottom: 40px;
}

.menu-btn {

    width: 150px;

    height: 60px;

    font-size: 28px;

    border: 2px solid #123c59;

    background: #dcefd8;

    cursor: pointer;
}

.menu-btn.active {

    background: #dceef7;
}

.toolbar {

    text-align: right;

    margin-bottom: 15px;
}

.compare-btn {

    width: 170px;

    height: 60px;

    font-size: 24px;

    background: #dcefd8;

    border: 2px solid #123c59;
}

table {

    width: 100%;

    border-collapse: collapse;

    font-size: 22px;
}

thead {

    border-bottom:
        2px solid #123c59;
}

th {

    padding: 10px;
}

td {

    padding: 18px;

    text-align: center;
}

tbody tr {

    border-bottom:
        1px solid #cccccc;
}
