body {

    font-family:
        "Yu Gothic",
        "Meiryo",
        sans-serif;

    margin: 30px;

    background-color: #f8f9fa;
}

.title {

    font-size: 42px;

    font-weight: bold;

    margin-bottom: 25px;
}

.menu {

    display: flex;

    gap: 20px;

    margin-bottom: 30px;
}

.menu-btn {

    width: 150px;

    height: 60px;

    border: 2px solid #19415d;

    font-size: 24px;

    background: #dff0da;

    cursor: pointer;
}

.menu-btn.active {

    background: #dbeef7;
}

.search-box {

    margin-bottom: 20px;
}

.search-box input {

    width: 300px;

    height: 35px;

    font-size: 18px;

    padding-left: 10px;
}

table {

    border-collapse: collapse;

    width: 100%;
}

th {

    background: #19415d;

    color: white;

    padding: 10px;
}

td {

    border: 1px solid #cccccc;

    padding: 8px;
}

tr:hover {

    background: #f1f8ff;

    cursor: pointer;
}

.detail-box {

    margin-top: 30px;

    padding: 20px;

    border: 2px solid #19415d;

    background: white;
}
``
